.header {
  display: flex
  align-items: center
  height: 50px
  background: #58070D

  h1 {
    display: flex
    align-items: center
    height: 100%
    color: #ddd
    font-size: 16px
    margin-inline-start: 20px

    img {
      width: 24px
      height: 24px
      padding-inline-end: 10px
    }
  }

  .slogn {
    color: #aaa
    vertical-align: bottom
    font-size: 12px
    margin-inline-start: 10px
  }
}

.options {
  min-height: 100vh
}

.body {
  form {
    margin: 50px auto
    padding: 20px 40px
    width: 90vw
    border: 0.5px solid #ccc
    border-radius: 8px
  }
}
