node_modules/
.DS_Store
*.log
yarn.lock
package-lock.json
.eslintcache
dist/edge/
dist/chromium-canary/
dist/firefox/
dist/*.zip
dist/**/_metadata/
dist/source/
key/
vite.config.åts.timestamp-*
*.map
TODO
