.links {
  padding-inline-start: 15px

  li {
    position: relative
    margin: 5.6px
    padding: 0 5.6px
    list-style: initial
    font-size: 14px
    line-height: 1.2em

    a {
      display: inline-block
      overflow: hidden
      max-width: 100%
      text-overflow: ellipsis
      white-space: nowrap
    }
  }
}

.linksIcon {
  li {
    list-style: none
  }

  .iconWrap {
    position: absolute
    top: 2px
    left: -17px
    display: inline-block
    display: flex
    justify-content: center
    align-items: center
    overflow: hidden
    width: 14px
    height: 14px
    border-radius: 2px
    background: #d1dbfa
    pointer-events: none
    pointer-events: none
  }

  img {
    width: 14px
    height: 14px
  }
}